<mat-stepper linear #stepper [orientation]="(stepperOrientation | async)!"
  (selectionChange)="handleOnStepChange($event)">
  <mat-step [stepControl]="emailEntryFormGroup" editable="false">
    <form [formGroup]="emailEntryFormGroup">
      <ng-template matStepLabel>E-Mail Adresse angeben</ng-template>
      <mat-form-field>
        <mat-label>E-Mail</mat-label>
        <input matInput formControlName="emailCtrl" placeholder="ich@beispiel.de" autocomplete="email" type="email">
        <mat-error *ngIf="emailEntryFormGroup.get('emailCtrl')?.invalid">
          <span *ngIf="emailEntryFormGroup.get('emailCtrl')?.hasError('email')">Ungültige E-Mail Adresse</span>
          <span *ngIf="emailEntryFormGroup.get('emailCtrl')?.hasError('required')">Muss angegeben werden</span>
        </mat-error>
      </mat-form-field>
      <div>
        <button *ngIf="!isEmailVerfied()"
          [disabled]="isVerfiyButtonDisabled() || emailEntryFormGroup.get('emailCtrl')?.invalid" mat-button
          (click)="verfiyEMailAddress()">Adresse verifizieren<mat-icon>
            <span *ngIf="!isVerfiyButtonDisabled()" class="material-icons">mark_email_read</span>
            <mat-spinner *ngIf="isVerfiyButtonDisabled()" diameter="20">
            </mat-spinner></mat-icon></button>
        <button mat-button matStepperNext [disabled]="!isEmailVerfied()">Weiter</button>
      </div>
    </form>
  </mat-step>
  <!-- mat-step [stepControl]="emailVerificationFormGroup" editable="false">
    <form [formGroup]="emailVerificationFormGroup">
      <ng-template matStepLabel>E-Mail Adresse verifizieren</ng-template>
      <mat-form-field>
        <mat-label>Verifizierungs Code</mat-label>
        <input matInput formControlName="emailVerifyCtrl">
        <mat-error *ngIf="emailVerificationFormGroup.get('emailVerifyCtrl')?.invalid">
          <span *ngIf="emailVerificationFormGroup.get('emailVerifyCtrl')?.hasError('required')">Muss angegeben
            werden</span>
        </mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step -->
  <mat-step [stepControl]="contactFormGroup">
    <form [formGroup]="contactFormGroup">
      <ng-template matStepLabel>Kontaktdaten angeben</ng-template>
      <div fxLayout="column">
        <div>
          <mat-radio-group formControlName="contactTypeCtrl">
            <mat-radio-button *ngIf="isStudent()" value="studierend">Studierend ohne Abschluss</mat-radio-button>
            <mat-radio-button value="privatperson">Privatperson</mat-radio-button>
            <mat-radio-button value="firma">Firma</mat-radio-button>
          </mat-radio-group>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="contactNameCtrl" placeholder="Vorname(n) Nachname" autocomplete="name">
            <mat-error *ngIf="contactFormGroup.get('contactNameCtrl')?.invalid">
              <span *ngIf="contactFormGroup.get('contactNameCtrl')?.hasError('required')">Muss angegeben werden</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Adresse</mat-label>
            <textarea matInput formControlName="contactAddressCtrl" placeholder="Staudingerweg 9, 55128 Mainz"
              autocomplete="street-address"></textarea>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Telefonnummer</mat-label>
            <input matInput formControlName="contactPhoneCtrl" placeholder="06131/3922834" autocomplete="tel-national"
              type="tel" enterkeyhint="numeric">
          </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperNext>Weiter</button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="bankFormGroup" [optional]="!needsBankData()">
    <form [formGroup]="bankFormGroup">
      <ng-template matStepLabel>Bankdaten angeben</ng-template>
      <div fxLayout="column">
        <div>
          <mat-form-field>
            <mat-label>Jahresbeitrag</mat-label>
            <input matInput formControlName="bankAmountCtrl" type="text" placeholder="12" enterkeyhint="numeric">
            <span matTextPrefix>€&nbsp;</span>
            <mat-error *ngIf="bankFormGroup.get('bankAmountCtrl')?.invalid">
              <span *ngIf="bankFormGroup.get('bankAmountCtrl')?.hasError('pattern')">Kein gültiger Betrag</span>
              <span *ngIf="bankFormGroup.get('bankAmountCtrl')?.hasError('min')">Mindestbeitrag ist
                €&nbsp;{{bankFormGroup.get('bankAmountCtrl')?.getError('min').min}},--</span>
              <span *ngIf="bankFormGroup.get('bankAmountCtrl')?.hasError('required')">Muss angegeben werden</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-radio-group formControlName="paymentTypeCtrl" (change)="handlePaymentTypeChanged($event)">
            <mat-radio-button value="sepa">SEPA-Lastschriftmandat</mat-radio-button>
            <mat-radio-button value="push">Überweisung/Dauerauftrag</mat-radio-button>
          </mat-radio-group>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Kreditinstitut</mat-label>
            <input matInput formControlName="bankNameCtrl" placeholder="Mainzer Volksbank">
            <mat-error *ngIf="bankFormGroup.get('bankNameCtrl')?.invalid">
              <span *ngIf="bankFormGroup.get('bankNameCtrl')?.hasError('required')">Muss angegeben werden</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>IBAN</mat-label>
            <input matInput formControlName="bankIBANCtrl" placeholder="DE75 5121 0800 1245 1261 99">
            <mat-error *ngIf="bankFormGroup.get('bankIBANCtrl')?.invalid">
              <span *ngIf="bankFormGroup.get('bankIBANCtrl')?.hasError('required')">Muss angegeben werden</span>
              <span *ngIf="bankFormGroup.get('bankIBANCtrl')?.hasError('iban')">IBAN ungültig</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Kontoinhaber</mat-label>
            <input matInput formControlName="bankOwnerCtrl" placeholder="Vorname(n) Nachname" autocomplete="name">
            <mat-error *ngIf="bankFormGroup.get('bankOwnerCtrl')?.invalid">
              <span *ngIf="bankFormGroup.get('bankOwnerCtrl')?.hasError('required')">Muss angegeben werden</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperPrevious>Zurück</button>
          <button mat-button matStepperNext>Weiter</button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Zusammenfassung</ng-template>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Anmeldung zur Mitgliedschaft im Förderverein</mat-card-title>
        <mat-card-subtitle>„Freunde der Mathematik an der Johannes Gutenberg-Universität
          Mainz e.V.“</mat-card-subtitle>
        <img mat-card-avatar src="assets/logo-2018.jpg" />

      </mat-card-header>
      <mat-card-content>
        <p>Fachbereich Physik, Mathematik und Informatik<br>
          Institut für Mathematik<br>
          Staudingerweg 9<br>
          55099 Mainz</p>
        <mat-divider></mat-divider>
        <h3>Daten zur Mitgliedschaft</h3>
        <p>Name: {{ formValues.memberName }}</p>
        <p>Email: {{ formValues.memberEMail }}</p>
        <p *ngIf="isStudent()">Studierend ohne Abschluss (Beitragsfrei)</p>
        <p>Adresse: {{ formValues.contactAddress || '-'}}</p>
        <p>Telefon: {{ formValues.contactPhone || '-' }}</p>
        <p *ngIf="formValues.memberAmount > 0">Jahresbeitrag: {{ formValues.memberAmount |
          currency:'EUR':'symbol-narrow':'1.2-2':'de-DE'}} jeweils fällig zum 1. Januar</p>
        <p *ngIf="!formValues.paymentTypeIsSEPA && formValues.memberAmount > 0">Der Betrag wird von mir rechtzeitig
          überweisen.</p>
        <p>Die Kündigungsfrist zur Kündigung der Mitgliedschaft beträgt 3 Mondate zum Ende eines Jahres. Die Kündigung
          bedarf der Textform.</p>
        <p>Das Abonement der Mailingliste kann über folgenden Link <a
            href="https://lists.uni-mainz.de/sympa/info/freunde-der-mathematik-l">https://lists.uni-mainz.de/sympa/info/freunde-der-mathematik-l</a>
          verwaltet werden.</p>
        <div *ngIf="formValues.paymentTypeIsSEPA && formValues.memberAmount > 0">
          <mat-divider></mat-divider>
          <h3>SEPA-Lastschriftmandat</h3>
          <p>Kontoinhaber: {{ formValues.bankOwner }}</p>
          <p>Kreditinstitut: {{ formValues.bankName }}</p>
          <p>IBAN: {{ formValues.bankIBAN |ibanFormatter }}</p>
          <p>Hiermit ermächtige ich den Verein
            „Freunde der Mathematik an der
            Johannes Gutenberg-Universität Mainz e.V.“ (Gläubiger Identifikationsnummer DE39 ZZZ0 0000 1978 26)
            meinen
            Mitgliedsbeitrag bei Fälligkeit zu Lasten meines Kontos mittels SEPA-Lastschrift einzuziehen.
            Zugleich weise ich mein Kreditinstitut an, die vom Verein „Freunde der Mathematik an der
            Johannes Gutenberg-Universität Mainz e.V.“ auf mein Konto gezogenen Lastschriften einzulösen.</p>
          <p>Hinweis: Ich kann innerhalb von acht Wochen, beginnend mit dem Belastungsdatum, die Erstattung des
            belasteten Betrages verlangen. Es gelten dabei die mit meinem Kreditinstitut vereinbarten Bedinungen.
          </p>
          <p>Kontoänderungen sind dem Verein rechtzeitig mitzuteilen.
            Unterbelibt die Mitteilung, so gehen alle anfallenden Kosten zu Lasten des Mitglieds.</p>
        </div>
        <p>Die Mitgliedsdaten werden unter Beachtung des Bundesdatenschutgesetztes für die vereinsinterne
          Mitgliederverwaltung gespeichert und verarbeitet.</p>
        <p>Datum: {{ formValues.date | date:'longDate' }}</p>
      </mat-card-content>
    </mat-card>
    <div>
      <button mat-button matStepperPrevious>Zurück</button>
      <button mat-button (click)="subscribeToMailingList()">Zur Mailingliste anmelden</button>
      <button mat-button (click)="createMail()">Anmeldung per E-Mail versenden</button>
    </div>
  </mat-step>
</mat-stepper>